<div class="container">
  <div class="row">
    <div *ngIf="!busy" class="col-md-12">

      <a class=" " routerLink="/openGroup">Open group</a>

      <h3>Groups</h3>

      <p>
        TODO: Filters
      </p>



      <p-card *ngFor="let group of groups;" [style]="{'width': '25rem', 'margin-bottom': '2em'}">



        <p-header [style]="{width: '360px'}" styleClass="p-card-shadow">

          <a class="" routerLink="/groups/{{group.id}}">{{group.groupShortname}} </a>
          <div> {{group.status}} </div>
          <div>
            {{group.cycleName}} - {{group.levelName}}
          </div>
          <div>
            {{group.groupShortname}}
          </div>
        </p-header>
        <p>
          <a class="" routerLink="/group_activities/{{group.id}}">Activities </a>
        </p>
        <p>
          Teachers:
        </p>

     <ul>
          <li *ngFor="let item of group.teachers">
            <a class="" routerLink="/teachers/{{item.id}}">
              {{item.name}}</a> </li>
        </ul>
        <div *ngIf="!group.teachers">
          NECESITA TEACHER!!!!!!!
        </div>

        <p-footer>
          {{group.totalStudents}} estudiantes
        </p-footer>
      </p-card>




    </div>
  </div>
  <ngx-spinner></ngx-spinner>
</div>
