<div class="container">
  <div class="row">
    <div *ngIf="!busy" class="col-md-8">

      <a class=" " routerLink="/openGroup">Open group</a>

      <!-- <div *ngIf="GroupSwitch == 'GROUPLIST'"> -->
        <h3>Groups</h3>

        <table class="table small">
          <thead>
            <tr>
              <th scope="col">Cycle </th>
              <th scope="col">Level </th>
              <th scope="col">Group</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let group of groups; let i = index" [attr.data-index]="i">
              <td>{{group.cycleName}}</td>
              <td>{{group.levelName}}</td>
               <td>
                <a class="" routerLink="/groups/{{group.id}}">G{{group.groupShortname}}</a>
              </td>

            </tr>
          </tbody>
        </table>

      <!-- </div> -->

<!--
      <div *ngIf=" GroupSwitch=='VIEWSTUDENTS'">

      </div> -->

    </div>
  </div>
  <ngx-spinner></ngx-spinner>
</div>
