<div class="container">
  <div class="row">
    <div *ngIf="!busy" class="col-md-8">
      <h3>Student Details</h3>


      The student {{selectedStudent}} details go here!!!


      {{student | json}}


      <a class=" " routerLink="/students">Back to all students</a>


<hr><hr><hr>
<div class="row" style="margin-bottom:15px;">
  <div class="col-md-3">
    <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
    <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
  </div>
  <div class="col-md-4">
    <span class="upload" *ngIf="progress > 0">
      {{progress}}%
    </span>
    <span class="upload" *ngIf="message">
      {{message}}
    </span>
  </div>
</div>
<hr><hr><hr>

    </div>
  </div>
  <ngx-spinner></ngx-spinner>
</div>
