<div class="container">
  <div class="row">
    <div *ngIf="!busy" class="col-12">
      <h3>Student Details - {{student.name}} - </h3>

      <hr>

      <a class=" " routerLink="/students">Back to all students</a>

      <hr>


      <div class="row">
        <img width="250" height="300" [src]=imageUrl alt="">
        <div class="row">
          <div class="col-md-3">
            <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
            <button type="button" class="btn btn-success" (click)="file.click()">Cambiar foto del estudiante</button>
          </div>
          <div class="col-md-4">
            <span class="upload" *ngIf="progress > 0">
              {{progress}}%
            </span>
            <span class="upload" *ngIf="message">
              {{message}}
            </span>
          </div>
        </div>

      </div>

      <hr>







      <form>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="student.name" name="name"
              placeholder="Nombre" required #name="ngModel">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
              Nombre es requerido
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="lastname1">Last name</label>
            <input type="text" class="form-control" id="lastname1" [(ngModel)]="student.lastName1" name="lastname1"
              placeholder="Primer Apellido" required #lastname1="ngModel">
            <div [hidden]="lastname1.valid || lastname1.pristine" class="alert alert-danger">
              Apellido es requerido
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="lastname1">Last name</label>
            <input type="text" class="form-control" id="lastname1" [(ngModel)]="student.lastName2" name="lastname2"
              placeholder="Segundo Apellido" #lastname2="ngModel">

          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <span class="p-float-label">
              <p-calendar [yearNavigator]="true" inputId="calendar" [(ngModel)]="fixedDate" name="birthday" required>
              </p-calendar>
              <label for="calendar">Fecha Nacimiento</label>
            </span>
            <!-- <div [hidden]="birthday.valid || birthday.pristine" class="alert alert-danger">
              Birthday is required
            </div> -->
          </div>
          <div class="form-group col-md-6">

            <span class="p-float-label">
              <p-selectButton [options]="genres" [(ngModel)]="studentGenre" optionLabel="name" name="genre" required>
              </p-selectButton>
            </span>


          </div>

        </div>


        <hr>




        <div class="form-group">
          <label for="inputAddress">Dirección</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Residencial Verde Casa #56">
        </div>


        <div class="form-row">

          <div class="form-group col-md-4">
            <span class="p-float-label">
              <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="availableProvinces"  name="selectedProvince" (onChange)="UpdateCantones()"
                [(ngModel)]="selectedProvince" optionLabel="name"></p-dropdown>
              <label for="dropdown">Provincia</label>
            </span>
          </div>

          <div class="form-group col-md-4">
            <span class="p-float-label">
              <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="availableCantons"  name="selectedCanton" (onChange)="UpdateDistritos()"
                [(ngModel)]="selectedCanton" optionLabel="name"></p-dropdown>
              <label for="dropdown">Cantón</label>
            </span>
          </div>

          <div class="form-group col-md-4">
            <span class="p-float-label">
              <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="availableDistritos"  name="selectedDistrito"
                [(ngModel)]="selectedDistrito" optionLabel="name"></p-dropdown>
              <label for="dropdown">Distrito</label>
            </span>
          </div>

          <!-- <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip">
          </div> -->
        </div>


        <button> + Agregar direccion</button>

        <hr>
        {{Cantones}}
        <hr>

      </form>










      <hr>




      <div class="row">
        <div [hidden]="submitted">

          <form (ngSubmit)="onSubmit()" #heroForm="ngForm">

            <div class="form-group">

            </div>

            <div class="form-group">

            </div>




            <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
            <button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset()">New Hero</button>
          </form>
        </div>


      </div>

      <hr>

      <div class="row">


        <h3>Grupos</h3>

        <table class="table small">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Ciclo </th>
              <th scope="col">Nivel </th>

              <th> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let group of student?.groups; let i = index" [attr.data-index]="i">
              <td>
                <a class="" routerLink="/groups/{{group.id}}">
                  {{group.groupShortname}}
                </a>
              </td>

              <td>
                {{group.cycleName}}
              </td>

              <td>
                {{group.levelName}} - {{group.status}}
              </td>
              <td>
                <button (click)="RemoveFromGroup(group.id)"> remove from group</button>
              </td>

            </tr>
          </tbody>
        </table>

        <hr>


        <div *ngIf="openAddToGroup; else elseBlock">Grupos disponibles

          <div class="p-field p-col-12 p-md-4">
            <span class="p-float-label">
              <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="availableGroups"
                [(ngModel)]="selectedGroup" optionLabel="groupShortname"></p-dropdown>
              <label for="dropdown">Grupos disponibles</label>
            </span>
          </div>

          <button (click)="Enroll()">
            Matricular
          </button>

          <button (click)="openAddToGroup = false;">
            Cancelar
          </button>

          <div>

          </div>
        </div>
        <ng-template #elseBlock>

          <button (click)="openAddToGroup = true; GetAvailableGroups()">
            Agregar a grupo
          </button>
        </ng-template>

        <hr>
      </div>
      <hr>

      <div class="row">

        <h3>Encargados</h3>

        <table class="table small">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name </th>
              <th scope="col">Name </th>
              <th scope="col">Name </th>

              <th> Details</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let par of student?.parents; let i = index" [attr.data-index]="i">
              <td>
                <a class=" " routerLink="/parents/{{par.id}}"> {{par.name}} </a>
              </td>

              <td>
                {{par.email}}
              </td>

              <td>
                <button (click)="RemoveParent(par.id)"> Quitar encargado</button>
              </td>

            </tr>
          </tbody>
        </table>

        <hr>
        <a class=" " routerLink="/addParent/{{student.id}}">Agregue nuevos padres o encargados </a>
        <a class=" " routerLink="/addExistingParent/{{student.id}}">Agregue padres o encargados existentes </a>


      </div>

      <div class="row">

        <h3>Financials</h3>







        <div *ngIf="CreatePaymentRequest; else elseBlockPayment">Grupos disponibles

          <div class="p-field p-col-12 p-md-4">
            <span class="p-float-label">
              <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="availablePaymentTypes"
                [(ngModel)]="selectedPaymentType" optionLabel="name"></p-dropdown>
              <label for="dropdown">Tipos de pago</label>
            </span>
          </div>


          <div class="p-field p-col-12 p-md-4">
            <span class="p-float-label">
              <p-inputNumber [(ngModel)]="Amount"></p-inputNumber>



              <label for="cedula">Amount</label>
            </span>
          </div>


          <button class="button" (click)="CancelPaymentRequest()">
            Cancelar
          </button>

          <button class="button" (click)="CreateStudentPaymentRequest()">
            Generar cobro
          </button>

          <div>

          </div>
        </div>


        <ng-template #elseBlockPayment>


          <table class="table small">
            <thead>
              <tr>
                <th scope="col">Estado</th>
                <th scope="col">Tipo </th>
                <th scope="col">Detalles</th>
                <th>Monto a cancelar</th>
                <th>Fecha de cobro </th>
                <th>Fecha limite de pago </th>
                <th>Monto cancelado</th>
                <th>Pagado por </th>
                <th>Fecha de ultimo pago</th>
                <th> </th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of tableItems; let i = index" [attr.data-index]="i">
                <td>{{item.paymentStatusName}}</td>
                <td>{{item.paymentRequestTypeName}}</td>
                <td>{{item.details}}</td>
                <td>{{item.requestedAmount}}</td>
                <td>{{item.requestedTime  | date}}</td>
                <td>{{item.dueDate | date}}</td>
                <td>{{item.paidAmount}}</td>
                <td>{{item.paidBy}}</td>
                <td>{{item.paidTime  | date}}</td>

              </tr>
            </tbody>
          </table>



          <button class="btn btn-dark" (click)="OpenCreatePaymentRequest()">
            Crear Cobro
          </button>
        </ng-template>









      </div>

    </div>
  </div>

  <ngx-spinner></ngx-spinner>
</div>
