<div class="container">
  <div class="row">
    <div *ngIf="!busy" class="col-md-8">
      <h3>Student Details - {{student.name}} - </h3>

      <hr>

      <a class=" " routerLink="/students">Back to all students</a>

      <hr>


      <div class="row">
        <img width="250" height="300" [src]=imageUrl alt="">
      </div>

      <hr>


      <hr>

      <div class="row">
        <div class="col-md-3">
          <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
          <button type="button" class="btn btn-success" (click)="file.click()">Cambiar foto del estudiante</button>
        </div>
        <div class="col-md-4">
          <span class="upload" *ngIf="progress > 0">
            {{progress}}%
          </span>
          <span class="upload" *ngIf="message">
            {{message}}
          </span>
        </div>
      </div>



      <div class="row">
        <div [hidden]="submitted">

          <form (ngSubmit)="onSubmit()" #heroForm="ngForm">

            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" required [(ngModel)]="student.name" name="name"
                #name="ngModel">
              <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                Name is required
              </div>
            </div>

            <div class="form-group">
              <label for="lastname1">Last name</label>
              <input type="text" class="form-control" id="lastname1" [(ngModel)]="student.lastnames" name="lastname1"
                #lastname1="ngModel">
              <div [hidden]="lastname1.valid || lastname1.pristine" class="alert alert-danger">
                Lastname is required
              </div>
            </div>


            <div class="form-group">
              <label for="lastname2">Last name</label>
              <input type="text" class="form-control" id="lastname2" [(ngModel)]="student.lastnames" name="lastname2"
                #lastname2="ngModel">
              <div [hidden]="lastname2.valid || lastname2.pristine" class="alert alert-danger">
                Lastname is required
              </div>
            </div>

            <div class="form-group">
              <label for="birthday">Birthday</label>
              <input type="text" class="form-control" id="birthday" [(ngModel)]="student.birthday" name="birthday"
                #birthday="ngModel">
              <div [hidden]="birthday.valid || birthday.pristine" class="alert alert-danger">
                Birthday is required
              </div>
            </div>



            <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
            <button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset()">New Hero</button>
          </form>
        </div>


      </div>

      <hr>

      <div class="row">


        <h3>Grupos</h3>

        <table class="table small">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Ciclo </th>
              <th scope="col">Nivel </th>

              <th> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let group of student?.groups; let i = index" [attr.data-index]="i">
              <td>
                <a class="" routerLink="/groups/{{group.id}}">
                  {{group.groupShortname}}
                </a>
              </td>

              <td>
                {{group.cycleName}}
              </td>

              <td>
                {{group.levelName}} - {{group.status}}
              </td>
              <td>
                <button (click)="RemoveFromGroup(group.id)"> remove from group</button>
              </td>

            </tr>
          </tbody>
        </table>

        <hr>


        <div *ngIf="openAddToGroup; else elseBlock">Grupos disponibles

          <div class="p-field p-col-12 p-md-4">
            <span class="p-float-label">
              <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="availableGroups"
                [(ngModel)]="selectedGroup" optionLabel="groupShortname"></p-dropdown>
              <label for="dropdown">Grupos disponibles</label>
            </span>
          </div>

          <button (click)="Enroll()">
            Matricular
          </button>

          <button (click)="openAddToGroup = false;">
            Cancelar
          </button>

          <div>

          </div>
        </div>
        <ng-template #elseBlock>

          <button (click)="openAddToGroup = true; GetAvailableGroups()">
            Agregar a grupo
          </button>
        </ng-template>

        <hr>
      </div>
      <hr>

      <div class="row">

        <h3>Encargados</h3>

        <table class="table small">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name </th>
              <th scope="col">Name </th>
              <th scope="col">Name </th>

              <th> Details</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let par of student?.parents; let i = index" [attr.data-index]="i">
              <td>
                <a class=" " routerLink="/parents/{{par.id}}"> {{par.name}} </a>
              </td>

              <td>
                {{par.email}}
              </td>

              <td>
                <button (click)="RemoveParent(par.id)"> Quitar encargado</button>
              </td>

            </tr>
          </tbody>
        </table>

        <hr>
        <a class=" " routerLink="/addParent/{{student.id}}">Agregue nuevos padres o encargados </a>
        <a class=" " routerLink="/addExistingParent/{{student.id}}">Agregue padres o encargados existentes </a>


      </div>

      <div class="row">

        <h3>Financials</h3>







        <div *ngIf="CreatePaymentRequest; else elseBlockPayment">Grupos disponibles

          <div class="p-field p-col-12 p-md-4">
            <span class="p-float-label">
              <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="availablePaymentTypes"
                [(ngModel)]="selectedPaymentType" optionLabel="name"></p-dropdown>
              <label for="dropdown">Tipos de pago</label>
            </span>
          </div>


          <div class="p-field p-col-12 p-md-4">
            <span class="p-float-label">
              <p-inputNumber [(ngModel)]="Amount"></p-inputNumber>



              <label for="cedula">Amount</label>
            </span>
          </div>


          <button class="button" (click)="CancelPaymentRequest()">
            Cancelar
          </button>

          <button class="button" (click)="CreateStudentPaymentRequest()">
            Generar cobro
          </button>

          <div>

          </div>
        </div>


        <ng-template #elseBlockPayment>


          <table class="table small">
            <thead>
              <tr>
                <th scope="col">Estado</th>
                <th scope="col">Tipo </th>
                <th scope="col">Detalles</th>
                <th>Monto a cancelar</th>
                <th>Fecha de cobro </th>
                <th>Fecha limite de pago </th>
                <th>Monto cancelado</th>
                <th>Pagado por </th>
                <th>Fecha de ultimo pago</th>
                <th> </th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of tableItems; let i = index" [attr.data-index]="i">
                <td>{{item.paymentStatusName}}</td>
                <td>{{item.paymentRequestTypeName}}</td>
                <td>{{item.details}}</td>
                <td>{{item.requestedAmount}}</td>
                <td>{{item.requestedTime  | date}}</td>
                <td>{{item.dueDate | date}}</td>
                <td>{{item.paidAmount}}</td>
                <td>{{item.paidBy}}</td>
                <td>{{item.paidTime  | date}}</td>

              </tr>
            </tbody>
          </table>



          <button (click)="OpenCreatePaymentRequest()">
            Crear Cobro
          </button>
        </ng-template>









      </div>

    </div>
  </div>



  <ngx-spinner></ngx-spinner>
</div>
