<div class="container">
  <div class="row">
    <div *ngIf="!busy" class="col-md-12">
      <h3>Parents</h3>


      <!-- <a class=" " routerLink="/addParent">Add Parent</a> -->

      <hr>
      <table class="table small">
        <thead>
          <tr>


            <th scope="col">Name </th>
            <th scope="col">Estudiantes a cargo</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Email</th>
            <th> Financias</th>


          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let parent of parents; let i = index" [attr.data-index]="i">


            <td>
              <a class="" routerLink="/parents/{{parent.id}}">
                {{parent.name + ' '+ parent.lastname1 +' ' + parent.lastname2}}</a>
            </td>
            <td></td>
            <td><a [href]="'https://wa.me/' + parent.phone.replace('-','')"> {{parent.phone}}</a>
            </td>
            <td>{{parent.email}}</td>
            <td>
              <a class="" routerLink="/financial/{{parent.id}}">
               $$$</a>
            </td>



          </tr>
        </tbody>
      </table>




    </div>
  </div>
  <ngx-spinner></ngx-spinner>
</div>
