<div class="container">
  <div class="row">
    <div *ngIf="!busy" class="col-md-12">

      <h3 *ngIf="group">{{ group.groupShortname}} - {{ group.cycleName}} - {{ group.levelName}}</h3> {{ group.status}}
      <hr>

      <a class=" " routerLink="/groups">Regresar a la lista de grupos</a>

      <hr>

      <div class="row" *ngIf="!paymentRequest">
        <button class="button" (click)="OpenPaymentRequest()">
          Crear cobro grupal
        </button>
      </div>

      <div class="row" *ngIf="paymentRequest">


        <div class="p-field p-col-12 p-md-4">
          <span class="p-float-label">
            <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="availablePaymentTypes"
              [(ngModel)]="selectedPaymentType" optionLabel="name"></p-dropdown>
            <label for="dropdown">Tipos de pago</label>
          </span>
        </div>


        <div class="p-field p-col-12 p-md-4">
          <span class="p-float-label">
            <p-inputNumber [(ngModel)]="Amount"></p-inputNumber>



            <label for="amount">Amount</label>
          </span>
        </div>


        <button class="button" (click)="CreateGroupPaymentRequest()">
          Generar cobro grupal
        </button>

        <button class="button danger" (click)="ClosePaymentRequest()">
          Cancelar
        </button>
      </div>

      <div class="row">
        <h3>Teachers</h3>


        <table class="table small">
          <thead>
            <tr>
              <th>

              </th>
              <!-- <th scope="col">Id</th> -->
              <th scope="col">Name </th>

              <th> Details</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let teacher of group?.teachers; let i = index" [attr.data-index]="i">
              <td>{{teacher.id}}</td>
              <td>
                <a class="" routerLink="/teachers/{{teacher.id}}">
                  {{teacher.name }}</a>
              </td>

              <td>
                <button (click)="RemoveTeacherFromGroup(teacher.id)">
                  Desasignar </button>
              </td>

            </tr>
          </tbody>
        </table>



        <div *ngIf="openAddTeacherToGroup; else elseBlock">Teachers disponibles

          <div class="p-field p-col-12 p-md-4">
            <span class="p-float-label">
              <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="availableTeachers"
                [(ngModel)]="selectedTeacher" optionLabel="name"></p-dropdown>
              <label for="dropdown">Teachers</label>
            </span>
          </div>

          <button (click)="AddTeacherToGroup()">
            Agregar
          </button>

          <button (click)="openAddTeacherToGroup = false;">
            Cancelar
          </button>

          <div>

          </div>
        </div>
        <ng-template #elseBlock>

          <button (click)="openAddTeacherToGroup = true;">
            Agregar teacher
          </button>
        </ng-template>

      </div>

      <hr>


      <div class="row">

        <h3>Estudiantes</h3>

        <table class="table small">
          <thead>
            <tr>
              <th>

              </th>
              <!-- <th scope="col">Id</th> -->
              <th scope="col">Nombre</th>
              <th scope="col">Fecha Nacimiento</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of students; let i = index" [attr.data-index]="i">
              <td>{{student.id}}</td>
              <td>
                <a class="" routerLink="/students/{{student.id}}">
                  {{student.name + ' '+ student.lastname1 +' ' + student.lastname2}}</a>
              </td>
              <td></td>
              <td>{{student.birthday}}</td>
              <td>
                <button (click)="RemoveStudentFromGroup(student.id)">
                  Dar de baja
                </button>
              </td>

            </tr>
          </tbody>
        </table>

      </div>

      <hr>

      <a class=" " routerLink="/groups">Regresar a la lista de grupos</a>

      <hr>

      <!-- <div class="row">
        <div class="col-md-3">
          <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
          <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
        </div>
        <div class="col-md-4">
          <span class="upload" *ngIf="progress > 0">
            {{progress}}%
          </span>
          <span class="upload" *ngIf="message">
            {{message}}
          </span>
        </div>
      </div> -->

    </div>
  </div>
  <ngx-spinner></ngx-spinner>
</div>
