<div class="container">
  <div class="row">
    <div *ngIf="!busy" class="col-md-12">

      <h3 *ngIf="group">Actividades de {{ group.groupShortname}} - {{ group.cycleName}} - {{ group.levelName}}</h3>
      {{ group.status}}
      <hr>

      <a class=" " routerLink="/groups">Regresar a la lista de grupos</a>

      <hr>

      <div class="row" *ngIf="!newAcivity">
        <button class="button" (click)="OpenNewActivity()">
          Crear actividad grupal
        </button>
      </div>

      <div class="row" *ngIf="newAcivity">


        <div class="p-field p-col-12 p-md-4 form-group">
          <span class="p-float-label">
            <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="availableActivityTypes"
              [(ngModel)]="selectedActivityType" optionLabel="name"></p-dropdown>
            <label for="dropdown">Tipos de actividad</label>
          </span>
        </div>


        <div class="p-field p-col-12 p-md-4 form-group">
          <span class="p-float-label">
            <p-calendar [yearNavigator]="true" yearRange="2020:2022" inputId="calendar" [(ngModel)]="activityDate"
              name="activityDate" required></p-calendar>
            <label for="calendar">Fecha de la actividad</label>
          </span>
        </div>

        <div class="row">

          <h3>Estudiantes presentes</h3>

          <table class="table small">
            <thead>
              <tr>
                <th>

                </th>
                <!-- <th scope="col">Id</th> -->
                <th scope="col">Nombre</th>

                <th> </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of students; let i = index" [attr.data-index]="i">
                <td>{{student.id}}</td>
                <td>
                  <a class="" routerLink="/students/{{student.id}}">
                    {{student.name + ' '+ student.lastname1 +' ' + student.lastname2}}</a>
                </td>
                <td></td>
                <td>
                  <button (click)="RemoveStudentFromGroupActivity(student.id)">
                    X
                  </button>
                </td>

              </tr>
            </tbody>
          </table>

        </div>


        <div class="row">
          <div class="col-md-3">
            <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
            <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
          </div>
          <div class="col-md-4">
            <span class="upload" *ngIf="progress > 0">
              {{progress}}%
            </span>
            <span class="upload" *ngIf="message">
              {{message}}
            </span>
          </div>
        </div>



        <div class="row">
          <button class="button" (click)="CreateGroupPaymentRequest()">
            Generar actividad grupal
          </button>

          <button class="button danger" (click)="CloseNewActivity()">
            Cancelar
          </button>
        </div>



      </div>



      <hr>

      <a class=" " routerLink="/groups">Regresar a la lista de grupos</a>

      <hr>





    </div>
  </div>
  <ngx-spinner></ngx-spinner>
</div>
